@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #F8FAFC !important;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-btn-primary {
  background-color: #012a56 !important;
}

.ih-button {
  background-color: #003A78;
}

.export-button{
  background-color: #d2d2d2;
  color: #1f1f1f
}

.ih-button:hover {
  background-color: #012a56 !important;
}

.ant-spin-dot-item {
  background-color: rgb(255, 255, 255) !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab { /* For tabs border */
  border-color: rgb(209 213 219);
}

.ant-tabs-top > .ant-tabs-nav::before { /* For the line to the right and close to the tabs */
  border-color: rgb(209 213 219);
}

.ant-tabs > .ant-tabs-nav { /* So that there is no gap between the content and tabs */
  margin-bottom: 0;
}

.rbc-month-view{
  background-color: white;
}

.rbc-time-view{
  background-color: white;
}

.rbc-agenda-view{
  background-color: white;
}

.calendar-container{
  max-height: calc(100vh - 255px);
}

.list-container{
  max-height: calc(100vh - 275px);
}

.h-home-bottom-card{
  max-height: calc(100vh - 376px);
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root::before{
  background-color: transparent;
}

@layer base { img {display: initial;} }